<div class="modal fade" id="rejectedModal" tabindex="-1" aria-labelledby="rejectedModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 game-font-24" id="rejectedModalLabel">We're sorry...</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body vt323-standard">
        <div>
          <p class="text-white">Oh no, it seems your partner <strong><%= partner.first_name %></strong> <strong><%= partner.last_name %></strong> declined your request to join his/her couple.</p>
          <p class="border-top pt-2">You may now either create your own couple or join another couple if you have the corresponding token.</p>
          <p class="border-top pt-2 text-white mb-4">Please note that in the absence of any action from you, your profile will be automatically deleted in 10 days.</p>
        </div>
        <div>
          <%= simple_form_for(user, url: after_reject_path, html: { method: :patch }) do |f| %>
            <%= f.error_notification %>
            <h3 class="text-white"><u>Create my own couple</u></h3>
            <div class="mb-3 string optional">
              <label class="string optional" for="new_couple_name">Nickname</label>
              <input class="form-control string optional" type="text" name="couple[nickname]" id="new_couple_nickname">
            </div>
            <div class="mb-3 string optional">
              <label class="string optional" for="new_couple_address">Address</label>
              <input class="form-control string optional" type="text" name="couple[address]" id="new_couple_address">
            </div>
            <div>
              <h3 class="text-white"><u>Join a new couple</u></h3>
              <p>Please enter below the couple token provided by your partner:</p>
              <div class="mb-3 string optional">
                <label class="string optional" for="new_couple_token">Token</label>
                <input class="form-control string optional" type="text" name="couple[token]" id="new_couple_token">
              </div>
            </div>
            <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
            <div class="form-actions">
              <%= f.button :submit, "Next", class: "confirm-button mt-4 mb-5 poppins-16" %>
            </div>
          <% end %>
        </div>
      </div>

  </div>
</div>
