<div class="container couple-chatroom"
    data-controller="couple-subscription"
    data-couple-subscription-couple-id-value="<%= @couple.id %>"
    data-couple-subscription-current-user-id-value="<%= current_user.id %>"
>

  <h1>Chat</h1>

  <div class="messages" data-couple-subscription-target="messages">
    <% @couple.messages.each do |message| %>
      <%= render "messages/message_container", message: message %>
    <% end %>
  </div>

  <%# ci-après : modification autopilot - ajout d'un link post pour toggle le statut autopilot  %>
    <div class="form-check form-switch mx-3 pt-2" style="border-top: 1px solid #CCCCCC;" data-controller="autopilot" data-autopilot-url="<%= autopilot_toggle_statues_path %>">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" <%= current_user.statues.last.autopilot ? 'checked' : '' %> data-action="click->autopilot#toggle">
      <label class="form-check-label" for="flexSwitchCheckDefault"> <i class="fa-solid fa-plane"></i> Autopilot </label>
    </div>

    <%# Méthode alternative => link + turbo method : POST %>
    <%# <div> %>
      <%# <%= link_to autopilot_toggle_statues_path, data: {turbo_method: :post} do %>
        <%# <div><h1>Click</h1></div> %>
      <%# end %>
    <%# </div> %>
  <%# ci-dessus : modification autopilot - ajout d'un link post pour toggle le statut autopilot %>

  <%= simple_form_for [@couple, @message], html: { class: "d-flex flex-column", data: { couple_subscription_target: "form" }}  do |f| %>
    <%# <div class="d-flex align-items-center justify-content-center"> %>
      <%= f.input :content, label: false, placeholder: "Type a message...", wrapper_html: {class: "flex-grow-1"} %>
      <%= f.submit "Send", class: "btn_orange text-center py-2 px-4 text-decoration-none outline-none text-white mt-2 mb-4 border-0 outline-none w-100", style: "width: unset !important;" %>
    <%# </div> %>
  <% end %>
</div>
