<div class="container couple-chatroom"
    data-controller="couple-subscription"
    data-couple-subscription-couple-id-value="<%= @couple.id %>"
    data-couple-subscription-current-user-id-value="<%= current_user.id %>"
>
  <h1>#Chatroom</h1>

  <div class="messages" data-couple-subscription-target="messages">
    <% @couple.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <div data-couple-subscription-target="form">
    <%= render "couple_form", couple: @couple, message: @message %>
  </div>
</div>
