
<%= render "shared/top_navbar" %>

<div class="layout-main" id="intercation" data-controller="interactions" data-interactions-sound-value="<%= asset_url("Punch.mp3") %>">
 <div class="d-flex justify-content-center position-relative" id="partner-avatar">
  <%= image_tag('partner.png') %>

  <%= link_to kiss_action_pages_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;"  do %>
    <div id="kiss" data-action="click->interactions#firekiss" class="action1 position-absolute">💋</div>
  <% end %>
  <%# <div class="action1 position-absolute">💋</div> %>

  <%= link_to punch_action_pages_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;" do %>
    <div id="punch" data-action="click->interactions#firepunch" class="action2 position-absolute">⚡️</div>
  <% end %>
  <%# <div class="action2 position-absolute">⚡️</div> %>

  <%= link_to love_action_pages_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;" do %>
    <div id="love" data-action="click->interactions#firelove" class="action3 position-absolute">💖</div>
  <% end %>
  <%# <div class="action3 position-absolute">💖</div> %>

  <%= link_to peace_action_pages_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;"  do %>
    <div  id="peace" data-action="click->interactions#firepeace" class="action4 position-absolute">😏</div>
  <% end %>
  <%# <div class="action4 position-absolute"></div> %>

  <%# Affichage action à toggle d-none - start %>
  <div id="action-punch" data-interactions-target="punch" class="position-absolute action-sent d-none">⚡️</div>
  <div id="action-love" data-interactions-target="love" class="position-absolute action-sent d-none">💖</div>
  <div id="action-kiss" data-interactions-target="kiss" class="position-absolute action-sent d-none">💋</div>
  <div id="action-peace" data-interactions-target="peace" class="position-absolute action-sent d-none">😏</div>
  <%# Affichage action à toggle d-none - end %>
</div>


<div class="layout-footer mb-4">
  <div class="d-flex align-items-center justify-content-around gap-3 mb-4">
    <div class="Player1 d-flex flex-column justify-content-center align-items-center poppins-20 fw-bold">
      <div class="player1-pp d-flex flex-column justify-content-center align-items-center"><%= image_tag('avatar_0.png') %></div>
      Chouchou
      <div class="score-p1">120 pts</div>
    </div>
    <div class="vs poppins-20 fw-bold">vs</div>
    <div class="Player2 d-flex flex-column justify-content-center align-items-center poppins-20 fw-bold">
      <div class="player2-pp d-flex flex-column justify-content-center align-items-center"><%= image_tag('avatar_0.png') %></div>
      Loulou
      <div class="score-p2">300 pts</div>
    </div>
  </div>
</div>
