
<div style="height:100%" class="d-flex flex-column justify-content-center"
  data-controller="interactions"
  data-interactions-sound-value="<%= asset_url("Punch.mp3") %>"
  data-interactions-list-value="<%= current_user.received_actions %>">

 <div class="flex-grow d-flex justify-content-center position-relative" id="partner-avatar">
    <div class="rounded-circle position-absolute" style="top:15%;filter: blur(7px);background-blend-mode: multiply; background-image: url('<%= @partner_mood_img %>');z-index:-1;width:250px;height:250px;"></div>
    <%= image_tag('partner.png') %>
    <%= render "show_actions_icons" %>
    <%= render "show_actions_toggled" %>

  </div>

  <div class="layout-footer mt-4">
    <div class="d-flex align-items-center justify-content-around gap-3">


      <%# You - Start %>

      <div class="Player1 d-flex flex-column justify-content-center align-items-center poppins-20 fw-bold">
        <div class="mini-avatar player1-pp" style="position:relative; background-image: url('<%= cl_image_path current_user.photo.key %>')">
          <%= render "show_incoming_actions" %>
        </div>
        You
        <div class="score-p1"><%= "#{current_user.score}pts" %></div>
      </div>
      <%# You - End %>

      <%# Partner - Start %>
      <div class="vs poppins-20 fw-bold">vs</div>

      <div class="Player2 d-flex flex-column justify-content-center align-items-center poppins-20 fw-bold">
        <div class="mini-avatar player2-pp" style="background-image: url('<%= cl_image_path @partner.photo.key %>')"></div>
        <%= @partner.nickname %>
        <div class="score-p2"><%= "#{@partner.score}pts" %></div>
      </div>
      <%# Partner - End %>

    </div>
  </div>
</div>
