
<div style="height:100%" class="d-flex flex-column justify-content-center"
  data-controller="interactions"
  data-interactions-sound-value="<%= asset_url("#{@partner_mood_sound}") %>"
  data-interactions-list-value="<%= current_user.received_actions %>">

  <%# 1. Main status message - Start %>
  <div class="py-2 px-4"
  style="<%= @partner ? "z-index:1000; width:100%; height:75px; position:absolute; top:110px;" : "" %>"
  data-action="click->interactions#togglestatus">
    <% if @partner.nil? %>
      <h4 class="text-center font-size-28px mb-0">It seems your partner has not joined yet.</h4>
      <h4 class="text-center font-size-30px mb-0"><strong>Be 2gethr, be happier!</strong></h4>
    <% else %>
      <h4 class="text-center font-size-28px mb-0"> What's on <%= @partner.nickname %>'s mind today? </h4>
      <h4 class="text-center font-size-30px mb-0"><strong>"<%= @partner.statues.order(:created_at).last.main_statue_message %>"</strong></h4>
    <% end %>
  </div>
  <%# 1. Main status message - End %>

  <%# 2. Detailed status messages - Click->toggleDisplay - Start %>
  <% unless @partner.nil? %>
    <div class="p-3 d-none" style="z-index:1000; width:100%; height:475px; position:absolute; top:200px; overflow:scroll;"
    data-interactions-target="status" >
      <div style="border-radius: 20px; z-index:1001; width:100%; height:100%;">
      <%# NB : anciennement dans la présente Div : class="d-flex flex-column justify-content-center align-items-center p-2 text-dark" %>
        <%= render "show_status", partner: @partner %>
      </div>
    </div>
  <% end %>
  <%# 2. Detailed status messages - Click->toggleDisplay - End %>

  <%# 3. Avatar & Actions %>
  <% if @partner.nil? %>
  <div class="d-flex justify-content-center">
  <div class="py-5">
    <%= image_tag "question-mark-1.png", alt: "Question mark image", width: 300, height: 300 %>
  </div>
  </div>
  <% else %>
    <div class="flex-grow-1 d-flex justify-content-center align-items-end position-relative" id="partner-avatar">
        <div class="rounded-circle position-absolute" style="top:25%;filter: blur(7px);background-blend-mode: multiply; background-image: url('<%= @partner_mood_img %>');z-index:-1;width:250px;height:250px;"></div>
        <%= image_tag("avatar-#{@partner.statues.order(:created_at).last.mood_category.title}.png", data: { action: 'click->interactions#playmood' }) %>
        <%= render "show_actions_icons" %>
        <%= render "show_actions_toggled" %>
    </div>
  <% end %>
  <%# 3. Avatar & Actions %>

  <%# 4. Footer score %>
  <div class="layout-footer <%= @partner ? "mt-4" : "mt-5" %>">
    <div class="d-flex align-items-center justify-content-around gap-3">

      <%# 4.1. Footer You - Start %>
      <div class="Player1 d-flex flex-column justify-content-center align-items-center poppins-20 fw-bold">
      <% if @user.photo.attached? %>
        <div class="mini-avatar player1-pp" style="position:relative; background-image: url('<%= cl_image_path current_user.photo.key %>')">
      <% else %>
        <div class="mini-avatar player1-pp" style="position:relative; background-image: url('<%= image_path("unknown_person.jpg") %>')">
      <% end %>
          <%= render "show_incoming_actions" %>
        </div>
        You
        <div class="score-p1"><%= @user.score %> pts</div>
      </div>
      <%# 4.1. Footer You - End %>

      <div class="game-font-24 fw-bold">VS</div>

      <%# 4.2. Footer Partner - Start %>
      <div class="Player2 d-flex flex-column justify-content-center align-items-center poppins-20 fw-bold">
        <% if @partner.nil? %>
          <div class="mini-avatar player2-pp" style="background-image: url('<%= image_path("unknown_person.jpg") %>')"></div>
          <span><%= "???" %></span>
          <div class="score-p2"><%= "0 pts" %></div>
        <% else %>
          <div class="mini-avatar player2-pp" style="background-image: url('<%= cl_image_path @partner.photo.key %>')"></div>
          <span><%= @partner.nickname %></span>
          <div class="score-p2"><%= "#{@partner.score}pts" %></div>
        <% end %>
      </div>
      <%# 4.2. Footer Partner - End %>

    </div>
  </div>
  <%# 4. Footer score %>

</div>
