<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 color-blue" id="addTaskModalLabel">Add a new task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="add-task"
      data-add-task-title-value="<%= GenericTask.where(couple: current_user.couple).pluck(:title) %>"
      data-add-task-description-value="<%= GenericTask.where(couple: current_user.couple).pluck(:description) %>"
      data-add-task-score-value="<%= GenericTask.where(couple: current_user.couple).pluck(:base_score) %>"
      >
        <%= simple_form_for task, html: { data: { add_task_target: "taskForm" } } do |f| %>
          <%= f.input :title,
                      collection: GenericTask.where(couple: current_user.couple).pluck(:title),
                      label: false,
                      placeholder: "Title",
                      input_html: { data: { add_task_target: "firstTitle",
                      action: "change->add-task#toggle add-task#untoggle add-task#fill add-task#autoComplete"
                      } } %>
          <%= f.input :title,
                      placeholder: "Please enter the title of your new task",
                      label: false,
                      input_html: { class: "d-none", value: "", data: { add_task_target: "secondTitle"} } %>
          <%= f.input :description,
                      label: false,
                      placeholder: "Description",
                      input_html: { data: { add_task_target: "description" } }
                       %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.input :date,
                      as: :string,
                      input_html: { data: { controller: "datepicker" } },
                      label: false,
                      placeholder: "Date"
                      %>
          <%= f.input :base_score,
                      label: false,
                      placeholder: "Base score",
                      input_html: { data: { add_task_target: "score"} }  %>
          <%= f.input :status,
                      collection: ["pending", "done"],
                      selected: "pending",
                      placeholder: "Status" %>
          <%= f.input :assigned_to,
                      collection: [current_user.nickname, @partner.nickname, "any"],
                      selected: current_user.nickname,
                      placeholder: "Assigned to" %>
          <%= f.button :submit, "Create task"  %>
          <% end %>
      </div>
    </div>
  </div>
</div>
