<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="addTaskModalLabel"></h1>
        <h2 class="modal-heading text-white">Add a new task</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-controller="add-task">
        <%= simple_form_for task, html: { data: { controller: "datepicker" }} do |f| %>
          <input type="hidden" value="<%= GenericTask.where(couple: current_user.couple).pluck(:title) %>" data-add-task-target="titleTemplates">
          <input type="hidden" value="<%= GenericTask.where(couple: current_user.couple).pluck(:description) %>" data-add-task-target="descriptionTemplates">
          <input type="hidden" value="<%= GenericTask.where(couple: current_user.couple).pluck(:base_score) %>" data-add-task-target="scoreTemplates">
          <input type="hidden" value="<%= GenericTask.where(couple: current_user.couple).pluck(:emoji) %>" data-add-task-target="emojiTemplates">
          <%= f.input :title,
                      collection: GenericTask.where(couple: current_user.couple).pluck(:title) << "Pick a title",
                      label: false,
                      selected: "Pick a title",
                      disabled: "Pick a title",
                      placeholder: "Title",
                      input_html: { class: "input-field", data: { add_task_target: "firstTitle",
                      action: "change->add-task#toggle add-task#untoggle add-task#fill add-task#autoComplete"
                      } } %>
          <%= f.input :title,
                      placeholder: "Please enter the title of your new task",
                      label: false,
                      input_html: { class: "d-none input-field", value: "", data: { add_task_target: "secondTitle"} } %>
          <%= f.input :description,
                      label: false,
                      placeholder: "Description",
                      input_html: { class: "input-field", data: { add_task_target: "description" } }
                       %>
          <%= f.input :date,
                      as: :string,
                      input_html: { class: "input-field", data: { datepicker_target: "dateField" } },
                      label: false,
                      placeholder: "Date"
                      %>
          <%= f.input :base_score,
                      label: false,
                      placeholder: "Base score",
                      input_html: { class: "input-field", data: { add_task_target: "score" } }  %>
          <%= f.input :status,
                      collection: ["pending", "done"],
                      selected: "pending",
                      placeholder: "Status",
                      input_html: { class: "input-field" }  %>
          <%= f.input :emoji,
                      label: false,
                      placeholder: "Emoji",
                      input_html: { class: "input-field", data: { add_task_target: "emoji" } } %>
          <!-- Disallow first user to add tasks in absence of confirmed partner -->
          <% if @partner && @partner.confirmed %>
            <%= f.input :assigned_to,
                        collection: [current_user.nickname, @partner_nickname, "any"],
                        selected: current_user.nickname,
                        placeholder: "Assigned to",
                        input_html: { class: "input-field" }
                        %>
          <% else %>
            <%= f.input :assigned_to,
                          collection: [current_user.nickname, "any"],
                          selected: current_user.nickname,
                          placeholder: "Assigned to",
                          input_html: { class: "input-field" }
                          %>
          <% end %>
          <%= f.button :submit, "Create task", class:"btn_orange text-center py-2 px-4 text-decoration-none outline-none text-white my-2 border-0 outline-none"  %>
          <% end %>
      </div>
    </div>
  </div>
</div>
