<div class="modal fade" id="doneModal" tabindex="-1" aria-labelledby="doneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h1 class="modal-title" id="doneModalLabel"></h1>
         <h2 class="modal-heading-sub text-white text-center">Mark this task as done</h2>
        <!-- <button type="button" class="text-white" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button> -->
      </div>
      <div class="modal-body">
        <h4 class="fs-2 text-white mb-4">Add proofs</h4>
         <%= simple_form_for task, html: { class:"mb-3" } do |f| %>
           <%= f.input :photos, as: :file, input_html: { multiple: true },
           input_html: { class: "input-field" }
           %>
           <%= f.button :submit, "Submit proofs", class:"btn_orange text-center py-2 px-4 text-decoration-none outline-none text-white my-2 border-0 outline-none"  %>
         <% end %>
         <% if @task.status == "done" %>
          <p class="text-white">This task is already done and cannot get you more points.</p>
         <% elsif task.user.nickname == @task.assigned_to %>
          <p class="text-white">You have assigned this task to yourself and therefore cannot earn any points.</p>
         <% else %>
          <p class="text-white">This task will earn you <%= @task.base_score %> points.</p>
          <p class="text-white">New score after confirmation:
          <%= current_user.score + @task.base_score %>
         <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <%= link_to 'Mark as done', mark_as_done_task_path(@task), data: {turbo_method: :patch}, class:"btn btn-success text-white" %>
      </div>
    </div>
  </div>
</div>
