<div class="collapse" id="editTaskCollapse">
  <div class="d-flex justify-content-center ">
    <div class="card card-body edit-task">
      <%= simple_form_for task do |f| %>
            <%= f.input :title,
                        label: false,
                        placeholder: "Title"
                        %>
            <%= f.input :description,
                        label: false,
                        placeholder: "Description"
                        %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.input :date,
                        as: :string,
                        label: false,
                        placeholder: "Date"
                        %>
            <%= f.input :base_score,
                        label: false,
                        placeholder: "Base score"
                        %>
            <%= f.input :status,
                        collection: ["pending", "done"],
                        selected: "pending",
                        placeholder: "Status" %>
            <%= f.input :emoji,
                        placeholder: "Emoji" %>
            <%= f.input :assigned_to,
                        collection: [current_user.nickname, partner.nickname, "any"],
                        selected: current_user.nickname,
                        placeholder: "Assigned to" %>
            <%= f.button :submit, "Edit task", class:"btn_orange text-center py-2 px-4 text-decoration-none outline-none text-white my-2 border-0 outline-none"  %>
            <% end %>
    </div>
  </div>
</div>
