<div data-controller="modal">
<%= simple_form_for [item, booking] do |f| %>
  <%= f.input :title, label: false, placeholder: "Title" %>
  <%= f.input :description, label: false, placeholder: "Description" %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :date, label: false, placeholder: "Date" %>
  <%= f.input :base_score, placeholder: "Base score" %>
  <%= f.input :statue, label: false, placeholder: "Statue" %>
  <%= f.input :assigned_to, label: false, placeholder: "Assigned to" %>
  <button type="button" class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#addTaskModal">
    Book now
  </button>
  <%= render 'tasks/add_task_modal' %>
<% end %>
</div>
