

<div class="container">

    <div class="dropdown">
      <div class="my-tasks dropdown-toggle mb-4" data-bs-toggle="dropdown" aria-expanded="false">
        <p class="m-0 p-3">My pending tasks</p>
      </div>
      <div class="dropdown-menu w-100 p-0 border-0">
        <% @my_pending_tasks.each do |pending_task| %>
          <div class="border d-flex justify-content-between align-items-center p-3 dropdown-item">
            <span><%= cl_image_tag pending_task.user.photo.key, height: 50, width: 50, crop: :fill, class:"rounded-circle" %></span>
            <span><%= pending_task.title %></span>
            <span><%= pending_task.date.strftime('%b %d, %Y') %></span>
            <i class="fa-solid fa-circle-dot"></i>
          </div>
        <% end %>
      </div>
    </div>

        <div data-controller="task-container" class="task-container">
          <div class="d-flex justify-content-center align-items-center">
            <div class="bg-primary d-flex justify-content-center align-items-center">
            <span class="me-3 text-white"><strong>Filters</strong></span>
            </div>
            <%= simple_form_for :my_params, url: tasks_path, method: :get, html: {class:
              "mb-4 row row-cols-auto", data: {task_container_target: "form"} } do |f| %>
              <%= f.input :assigned_to,
                         collection: [current_user.nickname, @partner.nickname, "any"],
                         selected: current_user.nickname,
                         input_html: { data: { task_container_target: "assignInput", action: "change->task-container#reveal"} } %>
              <%= f.input :statue,
                        collection: ["pending", "done"],
                        selected: "pending",
                        input_html: { data: { task_container_target: "statueInput", action: "change->task-container#reveal" } } %>
            <% end %>
        </div>

        <div class="row">
          <%= render 'tasks/content', tasks: @tasks %>
        </div>
      </div>

    </div>

    <div class="d-flex justify-content-around align-items-center">
      <a class="btn btn-primary rounded-circle" data-bs-toggle="modal" data-bs-target="#addTaskModal"><i class="fa-solid fa-plus"></i></a>
       <%= render 'tasks/add_task_modal', task: @task %>
      <a class="btn btn-primary rounded-circle"><i class="fa-solid fa-list"></i></a>
    </div>

  </div>
</div>
