<div class="container">

  <div class="my-tasks" data-bs-toggle="collapse" data-bs-target="#collapsePendingTasks" aria-expanded="false" aria-controls="collapsePendingTasks">
    <p class="m-0 p-3">My pending tasks</p>
  </div>
  <div class="w-100 p-0 border-0 collapse" id="collapsePendingTasks">
    <% @my_pending_tasks.each do |pending_task| %>
      <div class="box-shadow-purple px-3 py-2 d-flex justify-content-between align-items-center dropdown-item">
        <span><%= cl_image_tag pending_task.user.photo.key, height: 50, width: 50, crop: :fill, class: "rounded-circle" %></span>
        <strong><%= link_to pending_task.title, task_path(pending_task), class: "text-decoration-none text-black dropdown-items" %></strong>
        <span class="dropdown-items"><%= pending_task.date.strftime('%b %d, %Y') %></span>
        <i class="fa-solid fa-circle-dot"></i>
      </div>
    <% end %>
  </div>

  <div data-controller="task-container" class="task-container mt-5">
      <%= simple_form_for :my_params, url: tasks_path, method: :get, html: {class:
        "mb-3 row row-cols-auto justify-content-center", data: {task_container_target: "form"} } do |f| %>
        <%= f.input :assigned_to,
                    collection: [current_user.nickname, @partner.nickname, "any", "Pick a user"],
                    selected: "Pick a user",
                    disabled: "Pick a user",
                    label: false,
                    input_html: { data: { task_container_target: "assignInput", action: "change->task-container#reveal onload->task-container#reveal"} } %>
        <%= f.input :status,
                  collection: ["pending", "done", "Pick a status"],
                  selected: "Pick a status",
                  disabled: "Pick a status",
                  label: false,
                  input_html: { data: { task_container_target: "statusInput", action: "change->task-container#reveal onload->task-container#reveal" } } %>
      <% end %>

    <div class="row">
      <%= render 'tasks/content', tasks: @tasks %>
    </div>
  </div>

  <div class="d-flex justify-content-around align-items-center">
    <a class="btn btn-primary rounded-circle" data-bs-toggle="modal" data-bs-target="#addTaskModal"><i class="fa-solid fa-plus"></i></a>
      <%= link_to generic_tasks_path, class:"bg-primary rounded-circle link-button text-white" do %>
        <i class="fa-solid fa-list"></i>
      <% end %>
  </div>

  <%= render 'tasks/add_task_modal', task: @task %>
</div>
