
<head>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

</head>

<div class=body-reward>
<div class="swiper-container">
  <div class="swiper">

    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url('<%= asset_path('mvp.png') %>')">

       <%= link_to "Your Rewards", given_rewards_couple_rewards_path, class: "btn btn-primary" %>
      </div>
      <div class="swiper-slide" style="background-image:url('<%= asset_path('gift.png') %>')">

       <%= link_to "Create New Reward", generic_rewards_path, class: "btn btn-success" %>
     </div>
      <div class="swiper-slide" style="background-image:url('<%= asset_path('pillory.png') %>')">

       <%= link_to "Sentence/Penalty", to_do_rewards_couple_rewards_path, class: "btn btn-primary" %>
      </div>
    </div>
   <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

   <!-- If we need navigation buttons -->
   <div class="swiper-button-prev"></div>
   <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>
</div>
