<h1>Create a New Reward</h1>

<%= simple_form_for [current_user.couple, @reward], class: 'reward-form', style: 'display: none;' do |f| %>
  <%= f.input :date, label: 'Choose Date' %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :cost %>
  <%= f.button :submit, 'Create Reward' %>
<% end %>
