
<h1>Your Sentences</h1>

<% if @other_person.rewards.where(status: 'pending') %>
  <div class="rewards-list">
    <% @to_do_rewards.each do |reward| %>
      <div class="reward-card">
        <strong>Title:</strong> <%= reward.title %><br>
        <strong>Description:</strong> <%= reward.description %><br>
        <strong>Enforcement:</strong> <%= reward.date %><br>
        <strong>Status:</strong> <%= reward.status %> <br>
        <strong>Cost:</strong> <%= reward.cost %> points<br>

        <% if reward.status == 'pending' %>
          <%= link_to 'Mark as Done', mark_as_done_couple_reward_path(current_user.couple, reward), data: {turbo_method: :patch} %>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
<% else %>
  <p>No Slavery for the moment.</p>`
<% end %>
