<div class="p-3">
  <h1 class="mb-3"> My status </h1>

  <%= simple_form_for(@statue) do |f| %>
    <div class="mt-4 mb-5">
    <% if !@user.statues.empty? && @partner %>
      <%= f.input :main_statue_message,
        input_html: { value: current_user.statues.last.main_statue_message },
        label: "Tell #{@partner.nickname} what's on your mind today!"
      %>
    <% elsif @user.statues.empty? %>
      <%= f.input :main_statue_message,
          label: "Tell your partner what's on your mind today!"
      %>
    <% else %>
      <%= f.input :main_statue_message,
        input_html: { value: current_user.statues.last.main_statue_message },
        label: "Tell your partner what's on your mind today!"
      %>
    <% end %>
    </div>

    <div class="mb-5">
    <% if @user.statues.empty? %>
      <%= f.input :love_statue_message,
          label: "That would make me so happy if ... "
      %>
    <% else %>
      <%= f.input :love_statue_message,
        input_html: { value: current_user.statues.last.love_statue_message },
        label: "That would make me so happy if ... "
      %>
    <% end %>
    </div>

    <div class="mb-5">
    <% if @user.statues.empty? %>
      <%= f.input :hate_statue_message,
        label: "You really drove / drive me mad when ..."
      %>
    <% else %>
      <%= f.input :hate_statue_message,
        input_html: { value: current_user.statues.last.hate_statue_message },
        label: "You really drove / drive me mad when ..."
      %>
    <% end %>
    </div>

    <div class="mb-5">
      <% if @user.statues.empty? %>
        <%= f.input :mood_category_id,
            label: "What's the meteo today'?",
            collection: MoodCategory.all,
            required: true
          %>
      <% else %>
        <%= f.input :mood_category_id,
          input_html: { value: current_user.statues.last.mood_category.title },
          label: "What's the meteo today'?",
          collection: MoodCategory.all,
          required: true
        %>
      <% end %>
    </div>

    <%= f.submit "Update status", class: "btn btn-lightpurple" %>

<% end %>
</div>
