  <div id="actions-div" class="border-5 d-flex justify-content-between my-2">

    <%= link_to love_action_pages_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;" do %>
      <div id="love" data-action="click->interactions#firelove" style="border: 2px solid black;" class="rounded-circle action-picto d-flex justify-content-center align-items-center"><h1 class="fa-solid fa-heart"></h1></div>
    <% end %>

    <%= link_to punch_action_pages_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;" do %>
      <div id="punch" data-action="click->interactions#firepunch" style="border: 2px solid black;" class="rounded-circle action-picto ms-4 d-flex justify-content-center align-items-center"><h1 class="fa-solid fa-hand-fist"></h1></div>
    <% end %>

    <%= link_to kiss_action_pages_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;"  do %>
      <div id="kiss" data-action="click->interactions#firekiss" style="border: 2px solid black;" class="rounded-circle action-picto ms-4 d-flex justify-content-center align-items-center"><h1 class="fa-regular fa-face-kiss-wink-heart"></h1></div>
    <% end %>

    <%= link_to peace_action_pages_path, data: {turbo_method: :patch}, style:"text-decoration:none; color:inherit;"  do %>
      <div  id="peace" data-action="click->interactions#firepeace" style="border: 2px solid black;" class="rounded-circle action-picto ms-4 d-flex justify-content-center align-items-center"><h1 class="fa-solid fa-peace"></h1></div>
    <% end %>

  </div>
  <div id="meteo" style="background-image: url('<%= @partner.statues.last.mood_category.image_path %>'); background-position: center;  background-size: cover;" class="bg-danger flex-grow-1 py-5 d-flex justify-content-center align-items-center">
    <div id="big-avatar" class="d-flex justify-content-center" style="background-image: url('<%= cl_image_path @partner.photo.key %>');background-position: center;  background-size: cover; height:250px; width:250px; border-radius:50%;">
      <div id="action-punch" data-interactions-target="punch" class="action-sent d-none"><h1 class="fa-solid fa-hand-fist" style="font-size:200px; color:white;"></h1></div>
      <div id="action-love" data-interactions-target="love" class="action-sent d-none"><h1 class="fa-solid fa-heart" style="font-size:200px; color:white;"></h1></div>
      <div id="action-kiss" data-interactions-target="kiss" class="action-sent d-none"><h1 class="fa-regular fa-face-kiss-wink-heart" style="font-size:200px; color:white;"></div>
      <div id="action-peace" data-interactions-target="peace" class="action-sent d-none"><h1 class="fa-solid fa-peace" style="font-size:200px; color:white;"></h1></div>
    </div>
  </div>
