<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p><%= @user %></p>
<p><%= @couple %></p>
<p><%= @partner %></p>
<p><%= @opening_date %></p>
<p><%= @status_scope %></p>
<p><%=  @statuses_duration %></p>
<p><%=  %></p>
<p><%=  %></p>
