<div class="p-3 mb-5">
    <h1 class="text-center">Let's talk figures <br> & stats now</h1>
    <div class="score-card p-3 bg_light_white text-dark"><%= render "score_avatar", user: @user, partner: @partner%> </div>

    <p class="text-center" style="font-size:24px;">Last month metrics</p>

    <div class="score-card p-3 bg_light_white text-dark"><%= render "score_global", user: @user, partner: @partner%> </div>

    <div class="score-card p-3 bg_light_white text-dark"><%= render "score_meteo", user: @user, partner: @partner %></div>

    <div class="score-card p-3 bg_light_white text-dark"><%= render "score_task", user: @user, partner: @partner %></div>

    <div class="score-card p-3 bg_light_white text-dark"><%= render "score_reward", user: @user, partner: @partner %></div>

</div>
