<div class="p-3" style="margin-bottom:175px">

    <div class="score-card p-3"><%= render "score_avatar", user: @user, partner: @partner%> </div>

    <div class="score-card p-3"><%= render "score_global", user: @user, partner: @partner%> </div>

    <div class="score-card p-3"><%= render "score_meteo", user: @user, partner: @partner %></div>

    <div class="score-card p-3"><%= render "score_task", user: @user, partner: @partner %></div>

    <div class="score-card p-3"><%= render "score_reward", user: @user, partner: @partner %></div>

</div>
