<div class="simple-calendar mt-2">
  <nav class="calendar-heading mb-2">
    <div>
      <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title me-2" data-calendar-target="calendarTitle"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time>
      <%= link_to calendar.url_for_today_view do %>
        <i class="fa-solid fa-arrow-rotate-left text-white text-decoration-none"></i>
      <% end %>
    </div>
    <div>
      <%= link_to calendar.url_for_previous_view, class:"text-decoration-none" do %>
        <i class="fa-solid fa-chevron-left text-white me-2"></i>
      <% end %>
      <%= link_to calendar.url_for_next_view, class:"text-decoration-none" do %>
        <i class="fa-solid fa-chevron-right text-white"></i>
      <% end %>
    </div>
  </nav>

  <table class="table table-striped" id="calendar-display">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th id="week-days"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if day.month == start_date.month %>
                <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
