<div class="edit-display edit-form" data-edit-generic-target="editForm">
  <div class="d-flex justify-content-center">
    <div class="card card-body edit-task">
      <%= simple_form_for generic_task do |f| %>
            <%= f.input :title,
                        label: false,
                        placeholder: "Title"
                        %>
            <%= f.input :description,
                        label: false,
                        placeholder: "Description"
                        %>
            <%= f.input :base_score,
                        label: false,
                        placeholder: "Base score"
                        %>
            <%= f.input :emoji,
                        label: false,
                        placeholder: "Emoji"
                        %>
            <%= f.button :submit, "Edit task", class:"btn btn-primary" %>
            <% end %>
    </div>
  </div>
</div>
