<!DOCTYPE html>
<html>
  <head>
    <title>ToGethR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Debut ajout JM : configuration Mobile App %>
    <%# Step 1: Prepare app for A2HS %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%# Step 2: Link the manifest to the layout %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%# Fin ajout JM : configuration Mobile App %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body class="d-flex flex-column justify-content-between">
    <div>
      <%= render "shared/navbar", nb_actions: @nb_actions %>
      <%= render "shared/flashes" %>
      <p class="notice mb-0"><%= notice %></p>
      <p class="alert mb-0"><%= alert %></p>
    </div>

    <div class="min-h-83 mb-layout">
      <%= yield %>
    </div>

    <%= render "shared/bottom_navbar" %>

  </body>
</html>
