<!DOCTYPE html>
<html>
  <head>
    <title>ToGethR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Debut ajout JM : configuration Mobile App %>
    <%# Step 1: Prepare app for A2HS %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%# Step 2: Link the manifest to the layout %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%# Fin ajout JM : configuration Mobile App %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="d-flex flex-column justify-content-between">
    <div>
      <%= render "shared/navbar", nb_actions: @nb_actions %>
      <%= render "shared/flashes" %>
      <p class="notice mb-0"><%= notice %></p>
      <p class="alert mb-0"><%= alert %></p>
    </div>

    <div class="min-h-83 mb-layout">
      <%= yield %>
    </div>
<<<<<<< HEAD

    <%= render "shared/bottom_navbar" %>

=======
    <div>
      <%# JM : Bottom-NavBar en attendant celle de Samuel  %>
      <%# JM : Remplacer par un render ici  %>
      <div id="actions-div" style="width:100%;" class="py-4 px-4 sticky-bottom d-flex justify-content-between">
        <h1 class="fa-regular fa-message"></h1>
        <%= link_to couple_rewards_path(current_user.couple)do %><h1 class="fa-solid fa-trophy"></h1><% end %>
        <%= link_to tasks_path do %><h1 class="fa-solid fa-list-check"></h1><% end %>
        <h1 class="fa-regular fa-calendar-days"></h1>
        <%= link_to score_path do %><h1 class="fa-regular fa-star"></h1><% end %>
      </div>
    </div>
>>>>>>> 5858ffcee441d7fd36d24531d0da4ccd484ec62a
  </body>
</html>
